SUPABASE_URL=https://cdpdvfxxnasvoehtityg.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkcGR2Znh4bmFzdm9laHRpdHlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ4NjM4OSwiZXhwIjoyMDk3MDYyMzg5fQ.h-zJk8YH7B7XKJLfySeQbGfM1WqNd-boCC11ym-jkI8

